* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffb016;
  color: white;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section h2 {
  text-align: center;
  color: #ffb016;
}

.input_section form input {
  margin: 8px 0;
}

.input_section form button {
  background-color: #ffb016;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section form button span {
  font-weight: bold;
}

.input_section form button #titleIsRead {
  display: none;
}

.input_section form .input input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section form .input label {
  color: #ffb016;
  font-weight: bold;
}

.input_section form .input_inline {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_section form .input_inline label {
  color: #ffb016;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section #searchBookValue {
  border-radius: 32px;
  padding: 8px 16px;
}

.search_section h2 {
  color: #ffb016;
}

.search_section form {
  padding: 16px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 0.5fr;
      grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_section form input {
  padding: 5px;
  border-radius: 5px;
}

.search_section form button {
  background-color: #ffb016;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.search_section .book_list {
  padding: 16px;
}

.search_section .book_list .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.search_section .book_list .book_item h3 {
  font-size: 24px;
}

.search_section .book_list .book_item h4 {
  font-size: 12px;
}

.search_section .book_list .book_item p {
  font-size: 16px;
  margin: 4px 0;
}

.book_shelf_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book_shelf_wrapper .book_shelf {
  width: 49%;
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf_wrapper .book_shelf h2 {
  color: #ffb016;
}

.book_shelf_wrapper .book_shelf .book_list {
  padding: 16px;
}

.book_shelf_wrapper .book_shelf .book_list .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf_wrapper .book_shelf .book_list .book_item h3 {
  font-size: 24px;
}

.book_shelf_wrapper .book_shelf .book_list .book_item h4 {
  font-size: 12px;
}

.book_shelf_wrapper .book_shelf .book_list .book_item p {
  font-size: 16px;
  margin: 4px 0;
}

.book_shelf_wrapper .book_shelf .book_list .book_item .action button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf_wrapper .book_shelf .book_list .book_item .action .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf_wrapper .book_shelf .book_list .book_item .action .red {
  background-color: darkred;
  color: white;
}
/*# sourceMappingURL=styles.css.map */